# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
._.DS_Store
**/._.DS_Store
.claude/settings.local.json
*.pem

# debug
npm-debug.log*

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma compiled scripts
/prisma/dist

# uploads
/public/uploads/*
!/public/uploads/.gitkeep
